<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Parlament Buzzwords</title>
  
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="stylesheet" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <script src="/static/js/jquery-1.6.4.js"></script>
  <script src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script src="/static/js/jquery.isotope-1.4.1.js"></script>
  <script src="/static/js/tag-cloud.js"></script>
</head>
<body class="{% block bodyclass %}{% endblock %}">


    <div class="topbar-wrapper">
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                    <form class="pull-right" action="">
                        <input type="text" placeholder="Suche" class="span6">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="container">

        <section id="header">
        </section>

        <section id="content">
            {% block content %}Welcome{% endblock %}
        </section>

        <section id="footer">
        <a href="http://makeopendata.ch/">Make open data!</a>
        </section>
    </div>

</body>
</html>
