{% load url from future %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Parlament Buzzwords</title>
  
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />

  <script src="{{ STATIC_URL }}js/jquery-1.6.4.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.isotope-1.4.1.js"></script>
  <script src="{{ STATIC_URL }}js/tag-cloud.js"></script>
</head>
<body class="{% block bodyclass %}{% endblock %}">

    <div class="topbar-wrapper">
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container">
                    <h3><a href="{% url 'home' %}">Home</a></h3>
                    <ul class="nav">
                        <li><a href="{% url 'persons' %}">Parlamentarier</a></li>
                        <li><a href="{% url 'contact' %}">Kontakt</a></li>
                    </ul>
                    <form class="pull-right" action="{% url 'search' %}">
                        <input type="text" name="q" placeholder="Suche nach Name oder Partei" class="span6" value="{{ q }}">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="container">

        <section id="header">
        </section>

        <section id="content">
            {% block content %}Welcome{% endblock %}
        </section>
    </div>

</body>
</html>
