{% extends 'base.html' %}
{% load url from future %}

{% block bodyclass %}contact{% endblock %}

{% block content %}
    <h1>Kontakt</h1>

    <h2>Autoren</h1>
    <p>Diese Seite wird von Danilo Bargen unterhalten. Du kannst mich per E-Mail unter
    <a href="mailto:gezuru@gmail.com">gezuru@gmail.com</a> erreichen.</p>
    <p>Folgende Personen haben auch zu diesem Projekt beigetragen:</p>
    <ul>
        <li>Philip</li>
        <li>stefan</li>
        <li>2ni</li>
        <li>benny</li>
        <li>lorenz</li>
        <li>Valio</li>
    </ul>

    <h2>Mithelfen?</h2>
    <p>Wenn du ein Entwickler oder Designer bist, oder sonst irgendwie mithelfen willst,
    kannst du das Projekt auf <a href="https://github.com/gwrtheyrn/gesagt-im-parlament.ch">GitHub</a>
    "forken" und mir dann einen Pull Request senden, oder mich einfach per E-Mail kontaktieren.
    Mithilfe ist ausdrücklich erwünscht! :)</p>
{% endblock %}
