    <nav id="site-nav">
        <section id="options" class="clearfix">
        <h2>Politiker</h2>
        <div id="accordion"></div>        


<script>
  
	$.getJSON("/static/Factions.json",function(factions)
	{
	 	a="";
		i=0;
		factions.sort(sortAbbreviation);
		$.each(factions, function(key, value)
		{ 
			i++;
			faction=(value.abbreviation==='-'?'NONE':value.abbreviation);
			a+='<br><a href="#faction'+faction+'" style="font-size:14px;">'
				+value.name
				+'</a><div><ul id="politiker'
				+faction
				+'" class="option-set clearfix" data-option-key="politician"></ul></div>';
		});
		$("#accordion").html(a);
		doPoliticians();
	})
  
  	function sortAbbreviation(a,b){  
		return a.abbreviation > b.abbreviation ? 1 : -1;  
	};  
	function sortFaction(a,b){  
		return a.faction > b.faction ? 1 : -1;  
	};  
	function doPoliticians(){
			$.getJSON("/static/councillors.json",function(councillors)
			{
				councillors.sort(sortFaction);
				a="";
				faction='';
				i=0;
				$.each(councillors, function(key, value)
				{ 
					i++;
					name = value.faction+" "+ value.firstName+' '+value.lastName;
					id= value.id;//value.firstName+'_'+value.lastName;
					val = value.id;//value.firstName+value.lastName;
					a='<li><a href="/person/'+id+'/tagcloud/" data-option-value="'+val+'">'+name+'</a>';
					//a='<li>'+name+'</li>';
					//a=name;
					faction=(value.faction==='-'?'NONE':value.faction);
					$("#politiker"+faction).html( $("#politiker"+faction).html()+a );
					//a+='<li>'+name+'</li>';
				});
				//$("#politiker_"+value.faction).html();
				//alert (a);
				//id":1353,"updated":"2011-05-02T15:20:28Z","firstName":"Giuseppe","lastName":"a Marca","active":false,"code":null,"officialDenomination":null},{"id":1354,"updated":"2011-05-02T15:20:38Z","firstName":"Alois","lastName":"Ab Yberg","active":false,"code":null,"officialDenomination":null}
				// $(this).addClass("done");
		  })
		  //jQuery('#accordion').accordion(); 
	}

</script>        
      
        </section> <!-- options -->
        
      </nav> <!-- #site-nav -->
