{% extends 'base.html' %}

{% block bodyclass %}tagcloud{% endblock %}

{% block content %}
    <section id="personinfo">
        <div class="row">
            <div class="span4 thumbnail">
                {% if person.picture_url %}<img src="{{ person.picture_url }}" alt="" />{% endif %}
                {% if not person.picture_url %}<img src="http://placehold.it/200x200" alt="" /></p>{% endif %}
            </div>
            <div class="span12">
                <h1>{{ person.name|capfirst }}{% if person.party %}, {{ person.party }}{% endif %}</h1>
                <ul>
                    {% if person.party_name %}<li><strong>Partei:</strong> {{ person.party_name }}</li>{% endif %}
                    {% if person.faction_name %}<li><strong>Fraktion:</strong> {{ person.faction_name }}</li>{% endif %}
                    {% if person.council or person.function %}<li><strong>Funktion:</strong> {{ person.function }} im {{ person.get_council_display }}</li>{% endif %}
                    <li><strong>Biografie:</strong> <a href="http://www.parlament.ch/e/suche/pages/biografie.aspx?biografie_id={{ person.id }}">http://www.parlament.ch/e/suche/pages/biografie.aspx?biografie_id={{ person.id }}</a></li>
                    <li><strong>Berücksichtigte Parlamentarische Beiträge:</strong> {{ affair_count }} </li>
                </ul>
            </div>
        </div>
    </section>


  <div id="container" />
  
  <script>
    $(function(){
      var $container = $('#container');
      $container.isotope({
          itemSelector: '.element'
      });

      // create / load item map
      var words = {{ words|safe }};

      // add cloud of heinzkunz as default content
      addTagMap($container, words)

      // get all selectable options
      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

      // set the click action on all the options
      $optionLinks.click(function(){
          var $this = $(this);
          // don't proceed if already selected
          if ( $this.hasClass('selected') ) {
            return false;
          }

          // select new option, deselect old option
          var $optionSet = $this.parents('.option-set');
          $optionSet.find('.selected').removeClass('selected');
          $this.addClass('selected');

          // make option object dynamically, i.e. { filter: '.my-filter-class' }
          var options = {},
              key = $optionSet.attr('data-option-key'),
              value = $this.attr('data-option-value');
          // parse 'false' as false boolean
          value = value === 'false' ? false : value;
          options[ key ] = value;
          if ( key === 'politician' ) {
              removeAllTags($container);
              addTagMap($container, words); // add tags for politician
          } else {
            // otherwise, apply new options
            $container.isotope( options );
          }

          return false;
      });
    });
  </script>
{% endblock %}
